In [1]:
import numpy as np

CRIANDO ARRAYS

In [2]:
d = [1,2,3,4,5,6]
arr = np.array(d)
arr

array([1, 2, 3, 4, 5, 6])

In [3]:
arr.dtype

dtype('int64')

In [4]:
#número de linhas e colunas
np.shape(arr)

(6,)

In [5]:
#tamanho do array
np.size(arr)

6

In [6]:
d2 = [[1,3,5,7], [3,55,6,90]]
arr1 = np.array(d2)
arr1

array([[ 1,  3,  5,  7],
       [ 3, 55,  6, 90]])

In [7]:
#número de linhas e colunas
np.shape(arr1)

(2, 4)

In [8]:
#pegar elemento da linha 1 coluna 2
arr1[1,2]

6

In [10]:
#todos elementos da linha zero
arr1[0, :]

array([1, 3, 5, 7])

In [11]:
#toda linha 1 a partir da linha 1 até 3
arr1[1, 1:3]

array([55,  6])

In [12]:
#inicializar array vazio de 1 linha com 6 posições
np.empty(6, dtype='int32')

array([-603851424,      21990,          0,          0,         32,
                0], dtype=int32)

In [13]:
np.empty([2,2], dtype='int32')

array([[          0, -1073741824],
       [  -49184769,       32766]], dtype=int32)

In [14]:
#criando arrays com números inteiros aletórios 3 linhas e 3 colunas
np.random.randint(0,57, size=(3,3))

array([[ 5, 32,  1],
       [18, 33, 51],
       [13, 37, 28]])

In [15]:
#criando arrays com números aletórios 3 linhas e 3 colunas
np.random.rand(3,3)

array([[0.17376527, 0.35227653, 0.87307733],
       [0.38945047, 0.27890114, 0.39830577],
       [0.79460904, 0.96250989, 0.39045558]])

FUNÇOES MATEMÁTICAS

In [16]:
arr1

array([[ 1,  3,  5,  7],
       [ 3, 55,  6, 90]])

In [17]:
#multiplicando cada número por 2
arr3 = arr1 * 2
arr3

array([[  2,   6,  10,  14],
       [  6, 110,  12, 180]])

In [18]:
#dividindo cada número por 2
arr33 = arr1 / 2
arr33

array([[ 0.5,  1.5,  2.5,  3.5],
       [ 1.5, 27.5,  3. , 45. ]])

In [19]:
#somando cada número por 2
arr333 = arr1 + 2
arr333

array([[ 3,  5,  7,  9],
       [ 5, 57,  8, 92]])

In [22]:
#subtraindo uma matriz de outra. poderia usar o sinal de menos, mas há uma função para isso
subarr = np.subtract(arr3, arr1)
subarr

array([[ 1,  3,  5,  7],
       [ 3, 55,  6, 90]])

In [23]:
#média
arr1.mean()

21.25

In [24]:
#soma acumulada. precisa passar se é por linha ou coluna usando o axis
arr1.cumsum(axis=1)

array([[  1,   4,   9,  16],
       [  3,  58,  64, 154]])

TRANSFORMAÇÕES EM ARRAYS

In [26]:
#outra forma de criar array. criando array de 1 linha e 8 números
arr4 = np.arange(8)
arr4

array([0, 1, 2, 3, 4, 5, 6, 7])

In [27]:
#transformando o array anterior em 4 linhas e 2 colunas
arr5 = arr4.reshape(4,2)
arr5

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [28]:
#transformando o array anterior em 2 linhas e 4 colunas
arr6 = arr5.reshape(2,4)
arr6

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [30]:
#matriz transposta
arr7 = arr6.T
arr7

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [32]:
#concatenando matrizes
arr8 = np.concatenate((arr5, arr7))
arr8

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [33]:
#separando arrays. no caso separando em 2 arrays
np.split(arr7, 2)

[array([[0, 4],
        [1, 5]]),
 array([[2, 6],
        [3, 7]])]